/* Remova list-style-type: none; da classe .restaurantes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    /* width: 100%; */
    height: 93px;
    background-color: #D80E0E;
    display: flex;
    align-items: center;
    border-style: none;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    /* margin-left: 24px;
    margin-right: 80px; */
}

.search_area {
    display: flex;
    align-items: center;
    /* margin: auto;
    padding: auto; */
}

.search_bar {
    width: 423px;
    height: 47px;
    background-color: #fff;
    font-size: 17px;
    color: black;
    padding-left: 8px;
    margin-right: 14px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
    outline: 0;
}

.search_bar::placeholder {
    font-style: italic;
    color: lightgray;
    padding-left: 4px;
    font-size: 15px;
}

.button_search {
    width: 61px;
    height: 47px;
    background-color: rgb(110, 5, 5);
    border-radius: 8px;
    border-style: none;
}

.options {
    display: flex;
    font-family: 'Glory', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    color: #fff;
}

.menu {
    padding: 0 8px;
}

a {
    text-decoration: none;
    color: #fff;
}

.login {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
    padding: 0;
}

.font_login {
    font-family: 'Glory', sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
}

.title {
    font-family: 'Glory', sans-serif;
    /* margin: 24px 0 24px 24px; */
    color: rgba(216, 14, 14, 1);    
    margin-right: 500px;
    padding: 8px;
}

.my_place {
    display: flex;
    align-items: baseline;
    position: relative;
    height: 32px;
    margin-top: 8px;
    margin-left: 8px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
}

.text {
    color: gray;
    font-family: 'Glory',  sans-serif;
    font-size: 16px;
    font-weight: 600;
}

a.city {
    text-decoration: underline;
    font-family: 'Glory',  sans-serif;
    color: rgba(216, 14, 14, 1);
}


.pin_map {
    margin-left: 8px;
}

.text_minor {
    font-family: 'Glory',  sans-serif;
    font-size: 12px;
    color: gray;
    margin-left: 4px;
    font-weight: 600;
}

.carousel {
    width: 100%;
    height: 270px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 16px;
}

.img_card {
    width: 424px;
    height: 283px;
    border-radius: 8px;
}

.card_hamburguer {
    width: 401px;
    height: 270px;
    border-radius: 8px;
    margin: 0 16px 16px 0;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(../assets/hamburger.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Glory',  sans-serif;
}

.card_sushi {
    width: 401px;
    height: 270px;
    border-radius: 8px;
    margin: 0 16px 16px 0;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../assets/sushi.png);background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Glory',  sans-serif;
}

.card_massas {
    width: 401px;
    height: 270px;
    border-radius: 8px;
    margin: 0 16px 16px 0;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../assets/massas.png);background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Glory',  sans-serif;
}

.card_pizza {
    width: 401px;
    height: 270px;
    border-radius: 8px;
    margin: 0 16px 16px 0;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../assets/pizza.png);background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Glory',  sans-serif;
}

.restaurantes {
    padding: 16px;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Mantenha a estilização da classe .reserva e .table_reserva */

.reserva {
    background-color: red;
    border-radius: 4px;
    /* Outros estilos, se necessário */
}

.table_reserva {
    width: 100%;
    border-collapse: collapse;
    /* Outros estilos, se necessário */
}

.table_reserva td {
    padding: 10px; /* Adapte o espaçamento interno conforme necessário */
    border: 1px solid #ddd; /* Adicione uma borda para separar as células */
    text-align: center; /* Centralize o texto nas células */
}

.info {
    display: flex;
    font-family: 'Glory', sans-serif;
    align-items: end;
    width: 100%;
    margin-bottom: 16px;
}

.sub-info {
    float: left;
    margin-right: auto;
}

.fone {
    font-family: 'Glory', sans-serif;
    font-size: 20px;
    color: #D80E0E;
    align-items: baseline;
    font-weight: bold;
    float: right;
}

.reserva {
    width: 138px;
    height: 38px;
    background-color: #D80E0E;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Glory', sans-serif;
    font-size: 18px;
    margin-left: 16px;
}

.r_titulo {
    color: #D80E0E;
}

.rua {
    color: gray;
}

