/* Remova list-style-type: none; da classe .restaurantes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 93px;
    background-color: #D80E0E;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 24px;
}

.search-bar {
    width: 423px;
    height: 47px;
    background-color: #fff;
}

.restaurantes {
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mantenha a estilização da classe .reserva e .table_reserva */

.reserva {
    background-color: red;
    border-radius: 4px;
    /* Outros estilos, se necessário */
}

.table_reserva {
    width: 100%;
    border-collapse: collapse;
    /* Outros estilos, se necessário */
}

.table_reserva td {
    padding: 10px; /* Adapte o espaçamento interno conforme necessário */
    border: 1px solid #ddd; /* Adicione uma borda para separar as células */
    text-align: center; /* Centralize o texto nas células */
}

.size-image {
    width: 200px;
    height: 80px;
}