* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.logo-login {
    display: flex;
    justify-content: center;
}

.icone-login {
    display: flex;
    justify-content: center;
}

.logo-home {
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}

.profile-login {
    margin-top: 7px;
    justify-content: center;
    text-align: center;
}

.login-texto {
    width: 400px;
    height: 62px;
    border: 2px solid #D80E0E;
    padding: 8px 40px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.login-senha {
    width: 400px;
    height: 62px;
    border: 2px solid #D80E0E;
    padding: 8px 40px;
    border-radius: 8px;
    justify-content: center;
}

.text-area {
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.container-btn {
    text-align: center;
}

button.logado {
    width: 200px;
    height: 60px;
    font-family: 'Glory', sans-serif;
    font-size: 24px;
    background-color: #D80E0E;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
    text-align: center;
}

button.logado:hover {
    border: 2px solid #D80E0E;
    background-color: #fff;
    color: #D80E0E;
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
}

.input {
    width: 414px;
    height: 52px;
    border: #D80E0E 2px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.digitar {
    width: 100%;
    height: 80%;
    border: white;
    border-style: none;
    outline: 0;
}

.logo-input {
    width: 42px;
    height: 42px;
    padding-right: 8px;
    padding-left: 8px;
}

.senha {
    position: absolute;
    margin-top: 16px;
    margin-left: 490px;
}
/*******************************RODAPÉ***********************************/

.rodape {
    margin-top: 200px;
    width: 100%;
    height: 120px;
    background-color: #D80E0E;
    font-family: 'Glory',  sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-left: 8px;
    justify-content: space-between;
}

p.footer {
    padding-top: 13px;
    display: flex;
    align-items: center;
}

.rede-social {
    display: inline-block;
    align-items: end;
    padding-left: 4px;
    width: 22px;
    height: 22px;
}